* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background: transparent !important;
  overflow: hidden;
  -webkit-app-region: drag;
}

body {
  background: transparent !important;
}

#root {
  background: transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
